@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("@/assets/fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("@/assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("@/assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  min-width: 600px;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, Arial;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

button,
button:active,
button:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  outline: none !important;
}

strong {
  font-weight: 500;
}
